/* Adjust:
	border colour, 
	horizontal padding (#job-ad-header, #job-ad-content, #job-ad-footer), 
	vertical margin (.job-ad-part), 
	header and footer background images, 
	copy styling for header and anchor tags, generic fonts and line heights.
*/
	
#job-ad-template
{
	overflow: hidden;
	float: left;
	width: 458px;
	border: solid 1px #333; /* border colour here */
	
	border-radius: 0;
	background-color: #fff;
	background: rgba(255,255,255,0.7);
	/* generic font styling here */
	
	font:15px/1.5 "Lato", Arial, Helvetica, sans-serif;
	color: #000;
}
#job-ad-template.job-ad-mickey
{
	width: 536px;
}
#jobdetail-left-bg{
	position: relative;
	z-index: 2;
	padding-top: 70px;
}
#job-ad-template a
{
	text-decoration: none;
	color: #088585;
}
#job-ad-template a:hover, 
#job-ad-template a:focus, 
#job-ad-template a:active
{
	text-decoration: none;
	color: #71a900;
}
#job-ad-content
{
	padding: 1em 1.5em; /* horizontal padding  here*/
}
.job-ad-part
{
	margin: 0.5em 0; /* vertical margin here */
}
#job-ad-header
{
	overflow: hidden;
	padding: 1.5em;

	background: #fff;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
#job-ad-header span img{
	max-width: 300px;
	width: 100%;
}
#job-ad-header h2
{
	float: left;
	width: 50%;
	height: 55px;

	margin: 0;
	padding: 0;

	background: url("../images/logo.svg") no-repeat left 50%;
}
.has-logo-0 #job-ad-header h2
{
	width: 100%;
}
#job-ad-header h2 a
{
	display: block;
	height: 100%;
	
	text-indent: -5000px;
}
#job-advertiser-logo
{
	float: right;
	width: 50%;
	height: 55px;
	background-repeat: no-repeat;
	background-position: right 50%;
	background-size: auto 100%;
	display: none;
}
.has-logo-0 #job-advertiser-logo
{
	display: none;
}
#job-ad-title h1
{
	margin: 0;
	padding: 0;
	border: 0;
	
	/* copy and paste styles from h2 here */
	font-size: 30px;
	line-height: 1.2;
	font-weight: 900;
	color: #333;
}
#job-ad-content h2
{
	padding: 0;
	margin: 0;
	border: 0;
	
	/* copy and paste styles from h3 here */
	font-size: 20px;
	line-height: 1.2;
	font-weight: 900;
	color: #333;
}
#job-ad-template p
{
	margin: 0 0 1.5em 0;
	text-align: left;
}
#job-ad-template ul
{
	padding: 0 0 0 18px;
	margin: 0 0 1.5em 0;

	list-style: disc;
}
#job-ad-template ol
{
	padding: 0 0 0 22px;
	margin: 0 0 1.5em 0;
}
#job-ad-template ol li
{
	padding: 0;
	margin: 0;
}
#job-ad-template ul li
{
	display: list-item;
	padding: 0;
	margin: 0;
	
	list-style: disc;
}
.job-ad-optional-heading
{
	font-weight: 700;
}
#job-ad-footer a
{
	display: block;
	padding: 0.5em 0;
	
	text-align: center;
	background: #5c5c5c;
	color: #fff;
}
#job-ad-footer a:hover, 
#job-ad-footer a:focus, 
#job-ad-footer a:active
{
	background: #000;
	color: #fff;
}

@media screen and (max-width: 479px) {

	#job-ad-header h2
	{
		margin-bottom: 0.5em;	
	}
	#job-ad-header h2, 
	#job-advertiser-logo 
	{
		float: none;
		width: auto;
		background-size: 100% auto;
	}

}